[submodule "external_tools/uncrustify"]
	path = external_tools/uncrustify
	url = https://github.com/bengardner/uncrustify.git
[submodule "external_tools/sqlplot-tools"]
	path = external_tools/sqlplot-tools
	url = https://github.com/bingmann/sqlplot-tools.git
[submodule "external_tools/googletest"]
	path = external_tools/googletest
	url = https://github.com/google/googletest.git
