*.hpp~
*.cpp~
*.a
*.o
*.txt~
*.cc~
*.h~
*.py~
*.cfg~
build/*
rel2/*
release127/*
release128/*
release/*
release152/*
debug/*
i10pc127/*
i10pc128/*
i10pc129/*
i10pc130/*
debug2/*
tuning/*
debug152/*
profile/*
external_tools/*
