[submodule "external_tools/googletest"]
	path = external_tools/googletest
	url = https://github.com/google/googletest.git
[submodule "external_tools/WHFC"]
	path = external_tools/WHFC
	url = https://github.com/larsgottesbueren/WHFC.git
[submodule "python/pybind11"]
	path = python/pybind11
	url = https://github.com/pybind/pybind11.git
