[submodule "external_tools/googletest"]
	path = external_tools/googletest
	url = https://github.com/google/googletest.git
[submodule "WHFC"]
	path = WHFC
	url = https://github.com/larsgottesbueren/WHFC.git
